<form>
  <div>
    First Name: <br>
    <input type="text"> <br>
    Last Name: <br>
    <input type="text">
  </div>
  <div>
    Email: (email will be sent for confirmation) <br>
    <input type="email"> <br>
    New Username: <br>
    <input type="text">
  </div>
  <div>
    Password: <br>
    <strong>(Must be eight characters including one uppercase letter, one special character and alphanumeric characters)</strong> <br>
    <input type="password"> <br>
    Confirm Password: <br>
    <input type="password">
  </div>
  <a routerLink="">Good to go!</a>
</form>